* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    background-position: top;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}


img {
    width: 200px;
    height: auto;

}


main {
    z-index: 4;
    height: 100px;
    background-color: #202020;
    position: absolute;
    background-image: url(Logo/logoafficheBlanc.png);
    background-size: 275px;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: pop 1s ease-in-out;
    transition: 0.5s;
    padding-left: 2px;


}

main:hover {
    cursor: pointer;
}

@keyframes pop {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.LogoMin {
    width: 100px;

}

.LogoMax {
    width: 290px;
}

.LogoSquare {
    width: 100px;
    height: 100px;
    transition: 0.5s;

}

.fullscreen {
    width: 100vw;
    height: 100vh;



}

#Bone {
    position: absolute;
    z-index: 3;
    background-color: #580000;
    animation: pop 1s ease-in-out;

}

#Btwo {
    position: absolute;
    z-index: 2;
    background-color: #000000;
    background-image: url(img/DSC_7250_.webp);
    background-size: cover;
    background-position: top;
    animation: pop 1s ease-in-out;


}



img {
    width: 100px;
}

main:not(.no-radius):hover~#Bone {
    scale: 1.2;

}





.no-radius {
    scale: 1.2;
    border-radius: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    justify-content: flex-start;
    transition: width 1s 0.5s ease-in-out, height 0.2s ease-in-out, opacity 1s 1.5s ease-in-out;

}

.main-expanded {

    border-radius: 0;
    position: absolute;
    transform: translateY(calc(-50vh + 60px));
    transition: 1s 0.5s ease-in-out;
}